*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#f3f3f3;

font-family:Arial;

padding:40px;

}


.navbar{

background:white;

display:flex;

align-items:center;

justify-content:space-between;

padding:20px 40px;

border:1px solid #ddd;

}


.logo{

display:flex;

align-items:center;

gap:10px;

}


.icon{

width:45px;

height:45px;

background:#4d8cff;

border-radius:8px;

display:flex;

align-items:center;

justify-content:center;

}


.logo h2{

color:#4d8cff;

}


.search{

display:flex;

}


.search input{

width:300px;

padding:10px;

border:2px solid #0d6efd;

}


.search select{

padding:10px;

border:2px solid #0d6efd;

border-left:none;

}


.search button{

padding:10px 25px;

background:#0d6efd;

color:white;

border:none;

}


.icons{

display:flex;

gap:20px;

color:gray;

}